.Container{
    display: flex;
    justify-content: space-evenly;
  border: 1px solid black;
  padding: 30px;
 position: absolute;
 top: 250px;
 left: 550px;
 background-color: #fff;
}
input{
    width: 90%;
    /* border: none; */
    /* border-bottom: 1px solid black; */
    line-height: 40px;
    border-radius: 5px;
}
button{
    margin-top: 20px;
 /* margin-left: 30px; */
 width: 90%;
 height: 30px;
 border-radius: 30px;
 background-color: rgba(255, 0, 0, 0.926);
 color: #fff;
 border: 1px solid white;
}
body{
    width: 50%;
    background:linear-gradient(to left,pink 10%,rgb(100, 216, 100) 20%,rgb(131, 49, 25) 60%);
background: radial-gradient(yellow,red,green,pink,orange,blue);
}
img{
    width: 200px;
    align-items: center;
    padding: 20px;
}
button:hover{
    background-color: aqua;
    color: black;
   border: 1px solid black;
}
a{
    font-size: 10px;
  margin-left:30%;
}